{% extends "base.html" %}


{% block tittle %}

  <title>Jcgame | 图说</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

{% endblock %}


{% block mainbody %}

  <div class="am-u-md-8" >
  {% for list in newslist  %}
        <article class="blog-main" id = {{forloop.counter}}>
          <h3 class="am-article-title blog-title">
            <a href="#">{{list.1}} </a>
          </h3>
          <h4 class="am-article-meta blog-meta"> posted on {{list.4}} by wangyang thanks <a href="http://baike.baidu.com">百度百科</a></h4>

          <div class="am-g blog-content">
            <div class="am-u-lg-7">  <!-- 关闭转义 -->
            {% autoescape off %}   
              {{list.2}}
            {% endautoescape %}
            </div>
            <div class="am-u-lg-5">
              <p><img src='{{MEDIA_URL}}{{list.3}}' ></p>
            </div>
          </div>
        </article>
  {%endfor%}
  </div>
 
<script>   //滑动触发事件
    var page_num =0 //初始页数
    var page =5 //每页显示个数
    var slow = true  //是否不再最底
    var Div_id = 2  //在div id =2 的标签下开始加载
    var id=0 //初始div id
    $(window).scroll(function() {
        //var getDiv_md = $("#2"); //目标div高度
        var getDiv_md=$("#"+Div_id)
        var offSet = getDiv_md.offset().top;
        var wintop = document.documentElement.scrollTop || document.body.scrollTop;
        if  (wintop-100 > offSet && Div_id!=id ) {   //判断是否已经滚动到，并且不超过最后1个div
            page_num+=1
            //console.log("come input")
            //$("#loading").css("display", "block");                                                            //切换正在加载的数据的图片状态为显示；
            jQuery.ajax({
            type:"POST",
            url:"/blog/get_more_news",
            async:true,
            dataType:"json",
            data:{"page_num":page_num},                                                                                
                success: function(data) {                                                                         
                    var str = ""                                                                                         
                    $.each(data, function(i, item) {
                      id = page_num*page+i+1  //全局变量保存id
                      console.log(item.date)
                             str += "<article class='blog-main' id="+id +" >"
                             str += "<h3 class='am-article-title blog-title'>"
                             str += "<a href='#''>"+item.title+"</a>"
                             str += "</h3>"
                             str +="<h4 class='am-article-meta blog-meta'> posted on " + item.date +" by wangyang thanks <a href='http://baike.baidu.com'>百度百科</a></h4>"
                            str += "<div class='am-g blog-content'><div class='am-u-lg-7'> {% autoescape off %}"+item.body+"{% endautoescape %}</div>"
                            str +="<div class='am-u-lg-5'><p><img src='{{MEDIA_URL}}"+item.pic_name+"'></p></div></div></article>"    
                    });
                    $(".am-u-md-8").append(str);

                    if (slow==true){
                      Div_id = 2+page*page_num  //每页的第2个div 开始加载下一页
                      if(data.length<5){
                        Div_id = id //如果是最后一页，那就是上一页的第二个div
                        slow=false
                        var strlow = "" 
                        strlow+="<hr class='am-article-divider blog-hr'><hr class='am-article-divider blog-hr'><ul class='am-pagination blog-pagination'>"
                        strlow+="<li class='am-pagination-next'><a href='http://cars.jcgame.net'>模拟摇号 &raquo;</a></li></ul>"
                        $(".am-u-md-8").append(strlow);
                      }
                    }                                          
                }
            });
        }
    });          
</script>
{% endblock %}





