{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="shortcut icon" href="/static/assets/pic/favicon.ico">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <script src="/static/assets/js/jquery.min.js"></script>
  <script src="/static/assets/js/amazeui.min.js"></script>
  <link rel="shortcut icon" href="/static/assets/pic/favicon.ico">

  {% block tittle %}
  <p>tittle</p>
  {% endblock %}
  <style>
    @media only screen and (min-width: 1200px) {
      .blog-g-fixed {
        max-width: 1200px;
      }
    }

    @media only screen and (min-width: 641px) {
      .blog-sidebar {
        font-size: 1.4rem;
      }
    }

    .blog-main {
      padding: 20px 0;
    }

    .blog-title {
      margin: 10px 0 20px 0;
    }

    .blog-meta {
      font-size: 14px;
      margin: 10px 0 20px 0;
      color: #222;
    }

    .blog-meta a {
      color: #27ae60;
    }

    .blog-pagination a {
      font-size: 1.4rem;
    }

    .blog-team li {
      padding: 4px;
    }

    .blog-team img {
      margin-bottom: 0;
    }

    .blog-content img,
    .blog-team img {
      max-width: 100%;
      height: auto;
    }

    .blog-footer {
      padding: 10px 0;
      text-align: center;
    }
  </style>
</head>
<body>
<header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="http://blog.jcgame.net">Jcgame</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> 
          <span class="am-icon-bars"></span>
  </button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="#">首页</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          事件 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header"><a href="http://blog.jcgame.net/blog/dongche">7.23动车事件</a></li>
          <li class="am-dropdown-header"><a href="#">天津滨海爆炸事件</a></li>
          <li class="am-dropdown-header"><a href="http://blog.jcgame.net/blog/honghuanglan">红黄蓝事件</a></li>
        </ul>
      </li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          人物 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header"><a href="#">蒋彦永-SARS斗士</a></li>
          <li class="am-dropdown-header"><a href="#">天津滨海爆炸事件</a></li>
          <li class="am-dropdown-header"><a href="#">红黄蓝事件</a></li>
        </ul>
      </li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          杂感 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header"><a href="#">cocos引擎客户端性能测试杂感</a></li>
          <li class="am-dropdown-header"><a href="#">排序算法与时间复杂度</a></li>
        </ul>
      </li>
    </ul>

    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索文章">
      </div>
      <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
    </form>

  </div>
</header>

<div class="am-g am-g-fixed blog-g-fixed">

    {% block mainbody %}
       <p>body</p>
    {% endblock %}



  <div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">关于我和我们</div>
        <div class="am-panel-bd">
          <p>   雀巢咖啡说，人的一生大约要遇见8万人，最终自己回顾一生时，发现坐下喝咖啡的只有6个，其中还包括已经不联系的人。</p>
          <p>一生一世一双人，半醉半醒半浮生</p>
          <b>让我们更清楚地了解这个世界</b>

<!--           <a class="am-btn am-btn-success am-btn-sm" href="#">查看更多 →</a> -->
        </div>
      </section>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">友情链接</div>
        <ul class="am-list blog-list">
          <li><a href="http://www.wolaifan.cn">我來翻-文檔翻譯平台</a></li>
          <li><a href="http://www.tensorfly.cn">tensorFlow 机器学习</a></li>
        </ul>
      </section>

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">诗词精选</div>
        <div class="am-panel-bd">

        <article class="am-article">
        <div class="am-article-hd">
          <h1 class="am-article-title">芦叶满汀洲</h1>
          <p class="am-article-meta">刘过（宋）</p>
        </div>

        <div class="am-article-bd">
          <p class="am-article-lead"> 芦叶满汀洲，寒沙带浅流。二十年重过南楼。柳下系船犹未稳，能几日，又中秋。</br>
            黄鹤断矶头，故人今在否？旧江山浑是新愁。欲买桂花同载酒，终不似，少年游。</p>
        </div>
      </article>

        </div>
      </section>

    </div>
  </div>

</div>

<!-- 页脚 -->

<footer class="blog-footer">
  <p>JcGame<br/>
    <small>© 2018 京ICP备18012572 By QAwangyang </small>
  </p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/amazeui.min.js"></script>

</body>
</html>
